header {
    margin-right: 14px;
    ul {
        li {
            text-align: center;
            width: 77px;
            padding: 20px;
            list-style: none;
            margin-left: -54px;
            font-weight: bold;
            a {
                color: rgb(14, 1, 1);
                text-decoration: none;
                img {
                    height: 33px;
                    width: 33px;
                }
            }
            a:hover,.active {
                color: rgb(245 13 109);
            }
        }
    }
}