<header class="header">
    <ul>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="active" (click)="ChangeURL()">
          <img src="assets/about.svg"> ABOUT<hr>
        </a>
      </li>
      <li>
        <a [routerLink]="['/skills']" routerLinkActive="active" (click)="ChangeURL()">
          <img src="assets/skills.svg">SKILLS<hr>
        </a>
      </li>
      <li>
        <a [routerLink]="['project']" routerLinkActive="active" (click)="ChangeURL()">
          <img src="assets/project.svg">PROJECT<hr>
        </a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="active" (click)="ChangeURL()">
          <img src="assets/contact.svg">CONTACT<hr>
        </a>
      </li>
    </ul>
</header>