<div class="about-header">
    <img src="../../assets/about.svg">
    <div class="aboutHeader">About Me..</div>
</div>
<div class="about-body">
    <div class="name">Hello! I'm Sourav Dhali,</div>
    <div class="description">A enthusiastic engineer with organizational capabilities and technically skilled with proficiency in C, HTML, CSS/SCSS, JavaScript, Angular seeking a role as a front-end developer so I can use my thorough knowledge of programming frameworks and development software.</div>
</div>