<div class="contact-header">
    <img src="../../assets/contact.svg">
    <div class="aboutHeader">Contact Me..</div>
</div>
<div class="contact-body">
    <img src="../../assets/map.jpg" alt="">
    <div class="inTuch">GET IN TOUCH</div>
    <div class="allAds">
        <div class="add">
            <img src="../../assets/homepointer.svg" alt="">
            <div>Address</div>
            <div class="text">23A/69 Jessore Road Sree Durga Colony,P.O.+P.S.- Dumdum, Kolkata- 700028</div>
        </div>
        <div class="add">
            <img src="../../assets/phone.svg" alt="">
           <div>Phone</div>
           <div class="text"><a href="tel:8972198445" target="_blank">8972198445</a></div>
        </div>
        <div class="add">
            <img src="../../assets/mail.svg" alt="">
           <div>Email</div>
           <div class="text"><a href="mailto:webmaster@example.com" target="_blank">souravd2397@gmail.com</a></div>
        </div>
    </div>
</div>