<div class="header">
    <img src="../../assets/skills.svg">
    <div class="aboutHeader">Skills..</div>
</div>
<div class="body">
    <div class="coding">
        <img src="../../assets/coding.svg">
        <div class="codeIn">CODING..</div>
    </div>
    <div class="lang">
        C
        <div><div class="insideC"></div></div>
        HTML/CSS
        <div><div class="insideHtml"></div></div>
        JavaScript
        <div><div class="insideScript"></div></div>
        SCSS
        <div><div class="insideScss"></div></div>
        Bootstrap
        <div><div class="insideBootstrap"></div></div>
        Angular
        <div><div class="insideAngular"></div></div>
    </div>
</div>