.header{
    display: flex;
    height: 70px;
    border-bottom: 1.5px solid rgb(236, 236, 236);
    font-size: 35px;
    padding: 15px;
    box-sizing: border-box;
    padding-left: 43px;
    color: rgb(77, 76, 76);
    font-family: "Times New Roman", Times, serif;
    img{
        height: 35px;
        width: 35px;
        padding-top: 5px;
    }
    .aboutHeader{
        margin-left: 10px;
        margin-top: 3px;

    }
}
.body {
    padding: 30px;
    padding-left: 40px;
    .coding {
        display: flex;

        img {
            height: 35px;
            width: 26px;
        }
        .codeIn {
            font-size: 25px;
            color: rgb(255, 117, 117);
            margin-left: 10px;
        }
    }
    .lang{
        margin-top: 2em;
        div{
            width: 30em;
            height: 10px;
            margin: 10px 0;
            border-radius: 5px;
            background-color: rgb(255, 252, 252);
            opacity: 0.6;
            .insideC{
                width: 25em;
                background-color: rgb(80 113 255);
                opacity: 1;
            }
            .insideHtml{
                width: 26em;
                background-color: rgb(80 113 255);
                opacity: 1;
            }
            .insideScript{
                width: 27em;
                background-color: rgb(80 113 255);
                opacity: 1;
            }
            .insideScss{
                width: 26em;
                background-color: rgb(80 113 255);
                opacity: 1;
            }
            .insideBootstrap{
                width: 27.5em;
                background-color: rgb(80 113 255);
                opacity: 1;
            }
            .insideAngular{
                width: 26em;
                background-color: rgb(80 113 255);
                opacity: 1;
            }
        }
    }

}