.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    box-sizing: border-box;
    padding: 24px;

    .header-container {
        width: 8%;
    }
    .home-container {
        width: 35%;
        border-radius: 5px;
        background-color: rgba(114, 111, 110, 0.527);
    }
    .parrent {
        position: relative;
        width: 54%;
        height: 42vw;
        margin: auto;
        margin-left: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        .route-container {
            max-width: 100%;
            height: 90vh;
            width: 100%;
            background-color: rgba(252, 252, 251, 0.397);
            position: absolute;
            top: 0;
            transition: all 0.5s;
            left: -1000px;
        }
        .route-container.active {
            left: 0px;
        }
    }
}