<div class="header">
    <img src="../../assets/project.svg">
    <div class="aboutHeader">Projects..</div>
</div>
<div class="body">
    <div class="name">Self-Portfolio</div>
    <div class="description">
        <div class="heading">Duration:</div>
        <div class="aboutHeading">May2023-Still Updating.</div>
    </div>
    <div class="description">
        <div class="heading">Details Of Project:</div>
        <span class="aboutHeading">My personal portfolio is a compilation of relevant work samples and documents gathered during my school years and presented in a structured manner. It profiles my goals, progress, achievements and competencies in an organized, accessible and purposeful format, without overwhelming prospective employers.</span>
    </div>
    <div class="description">
        <div class="heading">Details Of Project:</div>
        <div class="aboutHeading">HTML, SCSS, TypeScript, Angular.</div>
    </div>
    <div class="description">
        <div class="heading">URL:</div>
        <div class="aboutHeading">https://souravportfolio2023.web.app</div>
    </div>
    <div class="description">
        <div class="heading">URL:</div>
        <div class="aboutHeading">...........</div>
    </div>
</div>