<div class="total">
    <div class="imgSec">
        <img src="../../assets/myPhoto2.jpg" alt="">
    </div>
    <div class="midSec">
        <div class="name">{{myName}}</div>
        <div class="designations">
            <div class="static">I,m a</div><span class="dynamic">{{type}}</span>
        </div>
        <div class="logos">
            <div class="logo"><a href="https://www.facebook.com/" target="_blank"><img src="assets/facebook.svg"></a></div>
            <div class="logo"><a href="https://www.instagram.com/" target="_blank"><img src="assets/instagram.svg"></a></div>
            <div class="logo"><a href="#" target="_blank"><img src="assets/twitter.svg"></a></div>
            <div class="logo"><a href="https://github.com/Sourav-Dhali" target="_blank"><img src="assets/github.svg"></a></div>
        </div>
    </div>
    <div class="footer">
        <div class="content"><a href="#">DOWNLOAD CV</a></div>
        <div class="content"><a href="#">CONTACT ME</a></div>
    </div>

</div>